.order-details-data {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 25px;
}
.order-details-content {
  font-size: 20px;
  font-weight: 500;
}
.order-details-btn-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(16, 67, 159, 1) 11%,
    rgba(86, 216, 228, 0.9724264705882353) 92%,
    rgba(247, 247, 247, 0.927608543417367) 95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 20px;
}
